<a href="https://colab.research.google.com/github/ArunK-ML/Learn---Unsupervised-Learning--Kmean-TheElbowMethod-WCSS-Silhouette_Score-DB_index/blob/main/K_Means.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/content/Quote-Equity-TCS-EQ-06-08-2024-to-06-08-2025.csv")
df

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,06-Aug-2025,EQ,"3,063.00","3,066.80","3,026.00","3,063.90","3,031.60","3,032.30","3,037.10","4,592.25","2,991.60","14,87,081","4,51,64,12,670.50","1,09,992"
1,05-Aug-2025,EQ,"3,074.40","3,077.50","3,042.00","3,074.40","3,060.00","3,063.90","3,057.96","4,592.25","2,991.60","19,27,996","5,89,57,39,286.30","1,18,848"
2,04-Aug-2025,EQ,"3,009.10","3,079.40","2,991.60","3,003.00","3,078.70","3,074.40","3,046.24","4,592.25","2,991.60","25,19,252","7,67,42,44,863.50","1,54,005"
3,01-Aug-2025,EQ,"3,029.90","3,036.80","3,000.00","3,036.80","3,001.10","3,003.00","3,013.79","4,592.25","3,000.00","20,53,847","6,18,98,63,144.50","1,54,119"
4,31-Jul-2025,EQ,"3,041.70","3,059.80","3,015.00","3,053.60","3,033.20","3,036.80","3,034.36","4,592.25","3,015.00","29,68,371","9,00,71,05,954.30","1,99,367"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,12-Aug-2024,EQ,"4,230.00","4,239.00","4,186.35","4,228.75","4,193.10","4,195.65","4,210.62","4,431.00","3,311.00","9,36,912","3,94,49,78,151.60","86,028"
247,09-Aug-2024,EQ,"4,217.00","4,253.65","4,205.55","4,172.55","4,220.00","4,228.75","4,233.82","4,431.00","3,311.00","13,02,536","5,51,47,05,150.35","79,876"
248,08-Aug-2024,EQ,"4,181.00","4,232.00","4,160.00","4,200.45","4,174.00","4,172.55","4,190.47","4,431.00","3,311.00","24,41,283","10,23,01,19,942.80","1,20,490"
249,07-Aug-2024,EQ,"4,228.00","4,244.95","4,180.30","4,171.20","4,201.00","4,200.45","4,201.58","4,431.00","3,311.00","12,37,666","5,20,01,50,778.85","1,02,627"
250,06-Aug-2024,EQ,"4,170.95","4,258.25","4,160.80","4,155.05","4,175.10","4,171.20","4,193.98","4,431.00","3,311.00","22,03,067","9,23,96,08,320.05","1,34,281"

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           251 non-null    object
 1   series         251 non-null    object
 2   OPEN           251 non-null    object
 3   HIGH           251 non-null    object
 4   LOW            251 non-null    object
 5   PREV. CLOSE    251 non-null    object
 6   ltp            251 non-null    object
 7   close          251 non-null    object
 8   vwap           251 non-null    object
 9   52W H          251 non-null    object
 10  52W L          251 non-null    object
 11  VOLUME         251 non-null    object
 12  VALUE          251 non-null    object
 13  No of trades   251 non-null    object
dtypes: object(14)
memory usage: 27.6+ KB

In [3]:
df['Date '] = pd.to_datetime(df['Date '],format="%d-%b-%Y")

In [4]:
df.drop('series ',axis = 1,inplace = True)

In [5]:
for i in df.select_dtypes(include = "object").columns:
  df[i]=df[i].str.replace(",","").astype(float)
df

,Date,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,2025-08-06,3063.00,3066.80,3026.00,3063.90,3031.6,3032.30,3037.10,4592.25,2991.6,1487081.0,4.516413e+09,109992.0
1,2025-08-05,3074.40,3077.50,3042.00,3074.40,3060.0,3063.90,3057.96,4592.25,2991.6,1927996.0,5.895739e+09,118848.0
2,2025-08-04,3009.10,3079.40,2991.60,3003.00,3078.7,3074.40,3046.24,4592.25,2991.6,2519252.0,7.674245e+09,154005.0
3,2025-08-01,3029.90,3036.80,3000.00,3036.80,3001.1,3003.00,3013.79,4592.25,3000.0,2053847.0,6.189863e+09,154119.0
4,2025-07-31,3041.70,3059.80,3015.00,3053.60,3033.2,3036.80,3034.36,4592.25,3015.0,2968371.0,9.007106e+09,199367.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2024-08-12,4230.00,4239.00,4186.35,4228.75,4193.1,4195.65,4210.62,4431.00,3311.0,936912.0,3.944978e+09,86028.0
247,2024-08-09,4217.00,4253.65,4205.55,4172.55,4220.0,4228.75,4233.82,4431.00,3311.0,1302536.0,5.514705e+09,79876.0
248,2024-08-08,4181.00,4232.00,4160.00,4200.45,4174.0,4172.55,4190.47,4431.00,3311.0,2441283.0,1.023012e+10,120490.0
249,2024-08-07,4228.00,4244.95,4180.30,4171.20,4201.0,4200.45,4201.58,4431.00,3311.0,1237666.0,5.200151e+09,102627.0
250,2024-08-06,4170.95,4258.25,4160.80,4155.05,4175.1,4171.20,4193.98,4431.00,3311.0,2203067.0,9.239608e+09,134281.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           251 non-null    datetime64[ns]
 1   OPEN           251 non-null    float64
 2   HIGH           251 non-null    float64
 3   LOW            251 non-null    float64
 4   PREV. CLOSE    251 non-null    float64
 5   ltp            251 non-null    float64
 6   close          251 non-null    float64
 7   vwap           251 non-null    float64
 8   52W H          251 non-null    float64
 9   52W L          251 non-null    float64
 10  VOLUME         251 non-null    float64
 11  VALUE          251 non-null    float64
 12  No of trades   251 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 25.6 KB

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df['Year'] = df['Date '].dt.year
df['Month'] = df['Date '].dt.month
df['Day'] = df['Date '].dt.day
df['Day_of_Week'] = df['Date '].dt.day_of_week
df

,Date,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Year,Month,Day,Day_of_Week
0,2025-08-06,3063.00,3066.80,3026.00,3063.90,3031.6,3032.30,3037.10,4592.25,2991.6,1487081.0,4.516413e+09,109992.0,2025,8,6,2
1,2025-08-05,3074.40,3077.50,3042.00,3074.40,3060.0,3063.90,3057.96,4592.25,2991.6,1927996.0,5.895739e+09,118848.0,2025,8,5,1
2,2025-08-04,3009.10,3079.40,2991.60,3003.00,3078.7,3074.40,3046.24,4592.25,2991.6,2519252.0,7.674245e+09,154005.0,2025,8,4,0
3,2025-08-01,3029.90,3036.80,3000.00,3036.80,3001.1,3003.00,3013.79,4592.25,3000.0,2053847.0,6.189863e+09,154119.0,2025,8,1,4
4,2025-07-31,3041.70,3059.80,3015.00,3053.60,3033.2,3036.80,3034.36,4592.25,3015.0,2968371.0,9.007106e+09,199367.0,2025,7,31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2024-08-12,4230.00,4239.00,4186.35,4228.75,4193.1,4195.65,4210.62,4431.00,3311.0,936912.0,3.944978e+09,86028.0,2024,8,12,0
247,2024-08-09,4217.00,4253.65,4205.55,4172.55,4220.0,4228.75,4233.82,4431.00,3311.0,1302536.0,5.514705e+09,79876.0,2024,8,9,4
248,2024-08-08,4181.00,4232.00,4160.00,4200.45,4174.0,4172.55,4190.47,4431.00,3311.0,2441283.0,1.023012e+10,120490.0,2024,8,8,3
249,2024-08-07,4228.00,4244.95,4180.30,4171.20,4201.0,4200.45,4201.58,4431.00,3311.0,1237666.0,5.200151e+09,102627.0,2024,8,7,2
250,2024-08-06,4170.95,4258.25,4160.80,4155.05,4175.1,4171.20,4193.98,4431.00,3311.0,2203067.0,9.239608e+09,134281.0,2024,8,6,1

In [9]:
# changing the date column into index
df.set_index('Date ',inplace = True)

In [10]:
df

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Year,Month,Day,Day_of_Week
Date,,,,,,,,,,,,,,,,
2025-08-06,3063.00,3066.80,3026.00,3063.90,3031.6,3032.30,3037.10,4592.25,2991.6,1487081.0,4.516413e+09,109992.0,2025,8,6,2
2025-08-05,3074.40,3077.50,3042.00,3074.40,3060.0,3063.90,3057.96,4592.25,2991.6,1927996.0,5.895739e+09,118848.0,2025,8,5,1
2025-08-04,3009.10,3079.40,2991.60,3003.00,3078.7,3074.40,3046.24,4592.25,2991.6,2519252.0,7.674245e+09,154005.0,2025,8,4,0
2025-08-01,3029.90,3036.80,3000.00,3036.80,3001.1,3003.00,3013.79,4592.25,3000.0,2053847.0,6.189863e+09,154119.0,2025,8,1,4
2025-07-31,3041.70,3059.80,3015.00,3053.60,3033.2,3036.80,3034.36,4592.25,3015.0,2968371.0,9.007106e+09,199367.0,2025,7,31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-12,4230.00,4239.00,4186.35,4228.75,4193.1,4195.65,4210.62,4431.00,3311.0,936912.0,3.944978e+09,86028.0,2024,8,12,0
2024-08-09,4217.00,4253.65,4205.55,4172.55,4220.0,4228.75,4233.82,4431.00,3311.0,1302536.0,5.514705e+09,79876.0,2024,8,9,4
2024-08-08,4181.00,4232.00,4160.00,4200.45,4174.0,4172.55,4190.47,4431.00,3311.0,2441283.0,1.023012e+10,120490.0,2024,8,8,3
2024-08-07,4228.00,4244.95,4180.30,4171.20,4201.0,4200.45,4201.58,4431.00,3311.0,1237666.0,5.200151e+09,102627.0,2024,8,7,2
2024-08-06,4170.95,4258.25,4160.80,4155.05,4175.1,4171.20,4193.98,4431.00,3311.0,2203067.0,9.239608e+09,134281.0,2024,8,6,1

In [11]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters = 4).fit(df)

In [12]:
group = model.predict(df)
group

array([1, 1, 1, 1, 0, 0, 3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 2, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 3, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 3, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 3, 2, 3, 3, 1, 0,
       1, 0, 1, 0, 1, 3, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 3, 2, 3, 3,
       0, 1, 0, 3, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 3, 3, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 3, 3, 1, 3, 1, 0, 0, 1, 0, 0, 0, 3, 3, 0, 1, 0, 0, 1, 0, 3,
       3, 0, 1, 3, 1, 1, 1, 1, 1, 3, 3, 1, 0, 1, 3, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 2, 0, 1, 1, 1, 3, 3, 1, 0, 3, 3, 0, 3, 1, 2, 3,
       3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 3, 3, 1, 1, 1, 0, 1, 0], dtype=int32)

In [13]:
df["group"]= group

In [14]:
df

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Year,Month,Day,Day_of_Week,group
Date,,,,,,,,,,,,,,,,,
2025-08-06,3063.00,3066.80,3026.00,3063.90,3031.6,3032.30,3037.10,4592.25,2991.6,1487081.0,4.516413e+09,109992.0,2025,8,6,2,1
2025-08-05,3074.40,3077.50,3042.00,3074.40,3060.0,3063.90,3057.96,4592.25,2991.6,1927996.0,5.895739e+09,118848.0,2025,8,5,1,1
2025-08-04,3009.10,3079.40,2991.60,3003.00,3078.7,3074.40,3046.24,4592.25,2991.6,2519252.0,7.674245e+09,154005.0,2025,8,4,0,1
2025-08-01,3029.90,3036.80,3000.00,3036.80,3001.1,3003.00,3013.79,4592.25,3000.0,2053847.0,6.189863e+09,154119.0,2025,8,1,4,1
2025-07-31,3041.70,3059.80,3015.00,3053.60,3033.2,3036.80,3034.36,4592.25,3015.0,2968371.0,9.007106e+09,199367.0,2025,7,31,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-12,4230.00,4239.00,4186.35,4228.75,4193.1,4195.65,4210.62,4431.00,3311.0,936912.0,3.944978e+09,86028.0,2024,8,12,0,1
2024-08-09,4217.00,4253.65,4205.55,4172.55,4220.0,4228.75,4233.82,4431.00,3311.0,1302536.0,5.514705e+09,79876.0,2024,8,9,4,1
2024-08-08,4181.00,4232.00,4160.00,4200.45,4174.0,4172.55,4190.47,4431.00,3311.0,2441283.0,1.023012e+10,120490.0,2024,8,8,3,0
2024-08-07,4228.00,4244.95,4180.30,4171.20,4201.0,4200.45,4201.58,4431.00,3311.0,1237666.0,5.200151e+09,102627.0,2024,8,7,2,1
2024-08-06,4170.95,4258.25,4160.80,4155.05,4175.1,4171.20,4193.98,4431.00,3311.0,2203067.0,9.239608e+09,134281.0,2024,8,6,1,0

In [15]:
df["group"].value_counts()

group
1    105
0    103
3     36
2      7
Name: count, dtype: int64

In [16]:
pd.set_option("display.max_rows",None)

In [17]:
df

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Year,Month,Day,Day_of_Week,group
Date,,,,,,,,,,,,,,,,,
2025-08-06,3063.00,3066.80,3026.00,3063.90,3031.60,3032.30,3037.10,4592.25,2991.60,1487081.0,4.516413e+09,109992.0,2025,8,6,2,1
2025-08-05,3074.40,3077.50,3042.00,3074.40,3060.00,3063.90,3057.96,4592.25,2991.60,1927996.0,5.895739e+09,118848.0,2025,8,5,1,1
2025-08-04,3009.10,3079.40,2991.60,3003.00,3078.70,3074.40,3046.24,4592.25,2991.60,2519252.0,7.674245e+09,154005.0,2025,8,4,0,1
2025-08-01,3029.90,3036.80,3000.00,3036.80,3001.10,3003.00,3013.79,4592.25,3000.00,2053847.0,6.189863e+09,154119.0,2025,8,1,4,1
2025-07-31,3041.70,3059.80,3015.00,3053.60,3033.20,3036.80,3034.36,4592.25,3015.00,2968371.0,9.007106e+09,199367.0,2025,7,31,3,0
2025-07-30,3060.00,3069.00,3047.20,3056.00,3052.10,3053.60,3058.58,4592.25,3041.20,2880121.0,8.809079e+09,127490.0,2025,7,30,2,0
2025-07-29,3060.00,3074.00,3041.20,3079.30,3057.00,3056.00,3056.04,4592.25,3041.20,4785312.0,1.462409e+10,247039.0,2025,7,29,1,3
2025-07-28,3110.00,3118.00,3069.90,3135.80,3085.80,3079.30,3092.56,4592.25,3056.05,3374473.0,1.043575e+10,273133.0,2025,7,28,0,0
2025-07-25,3140.00,3156.90,3125.60,3148.00,3140.00,3135.80,3140.77,4592.25,3056.05,2568917.0,8.068376e+09,105704.0,2025,7,25,4,0
2025-07-24,3165.10,3173.70,3140.00,3179.10,3144.90,3148.00,3155.37,4592.25,3056.05,2934778.0,9.260312e+09,102612.0,2025,7,24,3,0
2025-07-23,3159.60,3182.00,3157.60,3159.60,3175.00,3179.10,3169.59,4592.25,3056.05,1922875.0,6.094731e+09,96628.0,2025,7,23,2,1
2025-07-22,3159.60,3180.10,3154.60,3158.20,3164.70,3159.60,3163.54,4592.25,3056.05,3198036.0,1.011711e+10,138279.0,2025,7,22,1,0
2025-07-21,3190.00,3197.60,3152.00,3189.90,3158.90,3158.20,3162.44,4592.25,3056.05,3844346.0,1.215752e+10,195683.0,2025,7,21,0,0
2025-07-18,3225.00,3228.80,3187.00,3209.20,3189.60,3189.90,3201.13,4592.25,3056.05,3432645.0,1.098835e+10,195464.0,2025,7,18,4,0
2025-07-17,3224.10,3242.00,3204.10,3233.10,3207.70,3209.20,3220.48,4592.25,3056.05,2947640.0,9.492807e+09,157207.0,2025,7,17,3,0
2025-07-16,3227.00,3244.90,3220.60,3252.30,3230.90,3233.10,3235.91,4592.25,3056.05,2540733.0,8.221586e+09,172998.0,2025,7,16,2,0
2025-07-15,3206.00,3259.40,3206.00,3222.70,3252.00,3252.30,3243.32,4592.25,3056.05,2590889.0,8.403081e+09,171257.0,2025,7,15,1,0
2025-07-14,3266.00,3272.00,3200.00,3266.00,3227.50,3222.70,3224.72,4592.25,3056.05,3924009.0,1.265381e+10,396894.0,2025,7,14,0,3
2025-07-11,3299.90,3335.00,3261.10,3382.00,3264.50,3266.00,3295.45,4592.25,3056.05,7635550.0,2.516255e+10,552284.0,2025,7,11,4,2
2025-07-10,3380.00,3399.00,3356.00,3383.80,3395.00,3382.00,3379.02,4592.25,3056.05,3035012.0,1.025536e+10,176792.0,2025,7,10,3,0
2025-07-09,3410.00,3414.00,3367.00,3406.20,3386.00,3383.80,3387.16,4592.25,3056.05,2034938.0,6.892661e+09,191376.0,2025,7,9,2,1
2025-07-08,3405.00,3425.00,3393.40,3411.70,3406.00,3406.20,3407.01,4592.25,3056.05,2325242.0,7.922117e+09,178045.0,2025,7,8,1,0
2025-07-07,3418.30,3426.10,3408.40,3419.80,3410.60,3411.70,3417.70,4592.25,3056.05,1639174.0,5.602206e+09,73810.0,2025,7,7,0,1
2025-07-04,3408.00,3427.00,3390.10,3400.80,3420.00,3419.80,3413.91,4592.25,3056.05,1109320.0,3.787117e+09,87593.0,2025,7,4,4,1
2025-07-03,3430.00,3435.30,3397.60,3423.30,3400.00,3400.80,3414.55,4592.25,3056.05,2531870.0,8.645208e+09,131370.0,2025,7,3,3,0
2025-07-02,3487.20,3489.90,3420.00,3429.70,3423.50,3423.30,3445.44,4592.25,3056.05,3090585.0,1.064844e+10,111947.0,2025,7,2,2,0
2025-07-01,3455.00,3485.00,3413.50,3462.00,3430.00,3429.70,3439.04,4592.25,3056.05,2375183.0,8.168354e+09,125874.0,2025,7,1,1,0
2025-06-30,3439.90,3464.90,3430.00,3441.10,3460.00,3462.00,3452.05,4592.25,3056.05,1468351.0,5.068827e+09,130938.0,2025,6,30,0,1
2025-06-27,3455.00,3466.40,3431.00,3441.80,3445.00,3441.10,3445.16,4592.25,3056.05,1778433.0,6.126979e+09,122369.0,2025,6,27,4,1
2025-06-26,3444.80,3451.40,3415.30,3444.80,3443.00,3441.80,3437.70,4592.25,3056.05,2879106.0,9.897501e+09,143687.0,2025,6,26,3,0
2025-06-25,3407.30,3450.00,3400.00,3390.40,3443.00,3444.80,3422.33,4592.25,3056.05,1757699.0,6.015422e+09,101280.0,2025,6,25,2,1
2025-06-24,3434.60,3442.10,3382.00,3393.60,3392.00,3390.40,3408.47,4592.25,3056.05,3403048.0,1.159918e+10,178183.0,2025,6,24,1,0
2025-06-23,3415.00,3425.00,3370.00,3435.70,3392.00,3393.60,3392.20,4592.25,3056.05,3123421.0,1.059527e+10,153401.0,2025,6,23,0,0
2025-06-20,3425.00,3446.30,3410.90,3424.00,3429.10,3435.70,3432.16,4592.25,3056.05,2351248.0,8.069856e+09,100374.0,2025,6,20,4,0
2025-06-19,3450.00,3451.00,3413.00,3451.40,3420.00,3424.00,3426.54,4592.25,3056.05,2672768.0,9.158352e+09,125292.0,2025,6,19,3,0
2025-06-18,3519.10,3538.00,3443.10,3515.30,3455.00,3451.40,3483.78,4592.25,3056.05,2696327.0,9.393397e+09,103359.0,2025,6,18,2,0
2025-06-17,3510.00,3520.00,3488.10,3496.30,3512.00,3515.30,3511.25,4592.25,3056.05,2111940.0,7.415552e+09,145498.0,2025,6,17,1,1
2025-06-16,3440.00,3509.00,3426.20,3445.70,3496.20,3496.30,3493.01,4592.25,3056.05,1934088.0,6.755789e+09,109847.0,2025,6,16,0,1
2025-06-13,3393.20,3450.50,3393.20,3434.20,3447.40,3445.70,3436.18,4592.25,3056.05,2178493.0,7.485690e+09,140820.0,2025,6,13,4,1
2025-06-12,3471.90,3474.70,3423.20,3471.90,3432.00,3434.20,3447.13,4592.25,3056.05,4060134.0,1.399579e+10,164333.0,2025,6,12,3,3
2025-06-11,3470.00,3489.00,3449.10,3462.90,3470.80,3471.90,3471.90,4592.25,3056.05,2847013.0,9.884550e+09,163525.0,2025,6,11,2,0
2025-06-10,3440.00,3485.80,3423.20,3421.90,3461.90,3462.90,3462.61,4592.25,3056.05,2419874.0,8.379091e+09,109195.0,2025,6,10,1,0
2025-06-09,3400.00,3434.00,3390.90,3384.20,3423.00,3421.90,3420.68,4592.25,3056.05,1718678.0,5.879053e+09,73412.0,2025,6,9,0,1
2025-06-06,3371.10,3390.90,3358.70,3371.10,3388.00,3384.20,3376.59,4592.25,3056.05,2070390.0,6.990855e+09,94941.0,2025,6,6,4,1
2025-06-05,3409.00,3409.00,3363.70,3380.90,3374.00,3371.10,3380.39,4592.25,3056.05,3584683.0,1.211762e+10,129913.0,2025,6,5,3,0
2025-06-04,3389.00,3394.80,3370.00,3405.20,3381.00,3380.90,3382.86,4592.25,3056.05,2544807.0,8.608717e+09,185107.0,2025,6,4,2,0
2025-06-03,3446.00,3473.50,3400.50,3449.80,3411.40,3405.20,3418.44,4592.25,3056.05,2848125.0,9.736154e+09,195278.0,2025,6,3,1,0
2025-06-02,3450.00,3460.00,3418.60,3463.40,3445.80,3449.80,3441.46,4592.25,3056.05,1877585.0,6.461635e+09,105414.0,2025,6,2,0,1
2025-05-30,3490.00,3506.70,3453.10,3498.10,3460.00,3463.40,3473.80,4592.25,3056.05,3404365.0,1.182607e+10,104081.0,2025,5,30,4,0
2025-05-29,3504.70,3532.50,3486.50,3497.70,3494.00,3498.10,3500.24,4592.25,3056.05,3188072.0,1.115902e+10,146463.0,2025,5,29,3,0
2025-05-28,3520.00,3529.00,3493.00,3498.70,3500.10,3497.70,3501.32,4592.25,3056.05,1222933.0,4.281881e+09,80594.0,2025,5,28,2,1
2025-05-27,3532.00,3540.00,3483.10,3537.30,3501.00,3498.70,3500.34,4592.25,3056.05,2467680.0,8.637719e+09,165908.0,2025,5,27,1,0
2025-05-26,3521.00,3545.00,3510.10,3514.60,3538.00,3537.30,3536.37,4592.25,3056.05,967470.0,3.421330e+09,67043.0,2025,5,26,0,1
2025-05-23,3477.00,3535.00,3465.60,3477.00,3508.00,3514.60,3511.99,4592.25,3056.05,1274331.0,4.475440e+09,71383.0,2025,5,23,4,1
2025-05-22,3495.00,3497.80,3451.30,3525.80,3483.40,3477.00,3473.54,4592.25,3056.05,2034383.0,7.066504e+09,138574.0,2025,5,22,3,1
2025-05-21,3508.00,3537.00,3498.30,3498.30,3521.10,3525.80,3523.98,4592.25,3056.05,1440153.0,5.075075e+09,72782.0,2025,5,21,2,1
2025-05-20,3531.80,3558.00,3494.00,3518.80,3503.00,3498.30,3515.81,4592.25,3056.05,2038374.0,7.166541e+09,138343.0,2025,5,20,1,1
2025-05-19,3550.00,3550.00,3503.70,3561.30,3518.00,3518.80,3522.37,4592.25,3056.05,2537377.0,8.937585e+09,129050.0,2025,5,19,0,0
2025-05-16,3593.90,3593.90,3546.10,3579.90,3561.30,3561.30,3559.81,4592.25,3056.05,1666727.0,5.933225e+09,117749.0,2025,5,16,4,1
2025-05-15,3564.00,3600.00,3514.10,3548.70,3576.50,3579.90,3565.55,4592.25,3056.05,3548330.0,1.265174e+10,172937.0,2025,5,15,3,3
2025-05-14,3521.00,3561.00,3508.60,3515.00,3547.00,3548.70,3543.04,4592.25,3056.05,2119499.0,7.509460e+09,136543.0,2025,5,14,2,1
2025-05-13,3620.40,3623.00,3510.50,3620.40,3518.00,3515.00,3541.51,4592.25,3056.05,3062887.0,1.084725e+10,221289.0,2025,5,13,1,0
2025-05-12,3505.00,3630.50,3502.20,3440.30,3626.50,3620.40,3577.93,4592.25,3056.05,2228678.0,7.974052e+09,146104.0,2025,5,12,0,0
2025-05-09,3399.00,3446.20,3398.10,3448.90,3439.90,3440.30,3428.44,4592.25,3056.05,2531757.0,8.679987e+09,151453.0,2025,5,9,4,0
2025-05-08,3448.00,3477.00,3428.70,3445.10,3434.20,3448.90,3451.58,4592.25,3056.05,2543591.0,8.779406e+09,116139.0,2025,5,8,3,0
2025-05-07,3420.60,3459.50,3420.60,3460.00,3448.00,3445.10,3442.07,4592.25,3056.05,1477128.0,5.084383e+09,89334.0,2025,5,7,2,1
2025-05-06,3460.00,3473.00,3437.00,3454.30,3451.60,3460.00,3458.05,4592.25,3056.05,1324763.0,4.581101e+09,65526.0,2025,5,6,1,1
2025-05-05,3450.00,3504.50,3446.40,3444.70,3454.60,3454.30,3466.59,4592.25,3056.05,1284443.0,4.452637e+09,96657.0,2025,5,5,0,1
2025-05-02,3472.00,3491.50,3420.00,3453.70,3438.00,3444.70,3450.76,4592.25,3056.05,2115624.0,7.300505e+09,124212.0,2025,5,2,4,1
2025-04-30,3472.00,3509.90,3366.00,3472.50,3431.80,3453.70,3464.02,4592.25,3056.05,2809332.0,9.731586e+09,129048.0,2025,4,30,2,0
2025-04-29,3455.00,3495.00,3430.40,3443.50,3473.00,3472.50,3470.18,4592.25,3056.05,1578332.0,5.477092e+09,95060.0,2025,4,29,1,1
2025-04-28,3435.00,3457.80,3405.00,3448.00,3441.00,3443.50,3438.58,4592.25,3056.05,1593296.0,5.478682e+09,94204.0,2025,4,28,0,1
2025-04-25,3420.00,3477.80,3405.00,3401.60,3434.00,3448.00,3442.01,4592.25,3056.05,2742991.0,9.441415e+09,151400.0,2025,4,25,4,0
2025-04-24,3401.10,3412.50,3387.70,3413.00,3406.00,3401.60,3398.95,4592.25,3056.05,2252175.0,7.655037e+09,158061.0,2025,4,24,3,1
2025-04-23,3365.00,3420.90,3337.30,3314.40,3405.00,3413.00,3398.75,4592.25,3056.05,3543923.0,1.204490e+10,164989.0,2025,4,23,2,0
2025-04-22,3322.60,3333.90,3295.00,3321.60,3312.50,3314.40,3315.22,4592.25,3056.05,2710498.0,8.985899e+09,151282.0,2025,4,22,1,0
2025-04-21,3290.10,3354.00,3284.10,3298.90,3319.00,3321.60,3325.96,4592.25,3056.05,2432946.0,8.091878e+09,127748.0,2025,4,21,0,0
2025-04-17,3245.50,3303.60,3218.00,3273.80,3297.40,3298.90,3262.86,4592.25,3056.05,2932346.0,9.567836e+09,183984.0,2025,4,17,3,0
2025-04-16,3248.20,3278.10,3229.00,3248.20,3274.00,3273.80,3260.92,4592.25,3056.05,2384391.0,7.775305e+09,131199.0,2025,4,16,2,1
2025-04-15,3314.40,3314.40,3238.60,3231.50,3255.00,3248.20,3257.87,4592.25,3056.05,3512160.0,1.144217e+10,166106.0,2025,4,15,1,0
2025-04-11,3289.55,3298.95,3206.00,3246.60,3238.00,3231.50,3243.04,4592.25,3056.05,7108961.0,2.305462e+10,354463.0,2025,4,11,4,2
2025-04-09,3260.55,3270.00,3212.05,3292.95,3239.00,3246.60,3248.58,4592.25,3056.05,2990265.0,9.714105e+09,184251.0,2025,4,9,2,0
2025-04-08,3302.05,3349.00,3255.30,3274.05,3292.80,3292.95,3296.22,4592.25,3056.05,5557558.0,1.831893e+10,236248.0,2025,4,8,1,3
2025-04-07,3100.00,3291.40,3056.05,3299.40,3285.00,3274.05,3167.51,4592.25,3056.05,6623955.0,2.098146e+10,386019.0,2025,4,7,0,2
2025-04-04,3362.60,3399.65,3295.50,3403.15,3304.85,3299.40,3318.10,4592.25,3295.50,5317367.0,1.764354e+10,216133.0,2025,4,4,4,3
2025-04-03,3491.00,3502.00,3396.15,3543.95,3403.30,3403.15,3422.75,4592.25,3396.15,4537821.0,1.553181e+10,248807.0,2025,4,3,3,3
2025-04-02,3544.00,3564.10,3530.05,3550.80,3545.00,3543.95,3547.15,4592.25,3457.00,1764313.0,6.258290e+09,80651.0,2025,4,2,2,1
2025-04-01,3572.70,3584.00,3525.00,3606.15,3556.45,3550.80,3548.01,4592.25,3457.00,2618493.0,9.290445e+09,167344.0,2025,4,1,1,0
2025-03-28,3651.00,3660.95,3591.90,3651.20,3604.00,3606.15,3613.75,4592.25,3457.00,2051919.0,7.415125e+09,129740.0,2025,3,28,4,1
2025-03-27,3614.85,3663.00,3610.50,3635.80,3645.00,3651.20,3649.02,4592.25,3457.00,2528474.0,9.226448e+09,125080.0,2025,3,27,3,0
2025-03-26,3647.75,3680.50,3625.85,3657.75,3630.55,3635.80,3656.16,4592.25,3457.00,1734499.0,6.341598e+09,141204.0,2025,3,26,2,1
2025-03-25,3645.00,3710.00,3638.00,3628.95,3641.00,3657.75,3673.54,4592.25,3457.00,3135390.0,1.151799e+10,181313.0,2025,3,25,1,0
2025-03-24,3600.00,3649.75,3566.60,3578.10,3633.00,3628.95,3615.19,4592.25,3457.00,1834751.0,6.632971e+09,107825.0,2025,3,24,0,1
2025-03-21,3475.00,3616.25,3465.00,3563.15,3578.00,3578.10,3561.68,4592.25,3457.00,4161925.0,1.482346e+10,188951.0,2025,3,21,4,3
2025-03-20,3512.00,3578.95,3512.00,3497.10,3556.50,3563.15,3559.81,4592.25,3457.00,2845192.0,1.012834e+10,156792.0,2025,3,20,3,0
2025-03-19,3547.00,3547.00,3462.75,3552.45,3505.00,3497.10,3484.81,4592.25,3457.00,3051244.0,1.063299e+10,181144.0,2025,3,19,2,0
2025-03-18,3502.35,3556.95,3478.45,3497.70,3545.65,3552.45,3530.44,4592.25,3457.00,3069109.0,1.083530e+10,139204.0,2025,3,18,1,0
2025-03-17,3489.00,3530.45,3477.35,3511.05,3499.90,3497.70,3496.62,4592.25,3457.00,2690906.0,9.409068e+09,171510.0,2025,3,17,0,0
2025-03-13,3502.30,3524.30,3484.10,3506.20,3509.05,3511.05,3504.71,4592.25,3457.00,1693004.0,5.933491e+09,98963.0,2025,3,13,3,1
2025-03-12,3565.00,3569.25,3486.85,3575.30,3507.80,3506.20,3504.81,4592.25,3457.00,3174167.0,1.112485e+10,175588.0,2025,3,12,2,0
2025-03-11,3558.00,3588.75,3537.65,3589.65,3585.00,3575.30,3567.93,4592.25,3457.00,1995450.0,7.119617e+09,142820.0,2025,3,11,1,1
2025-03-10,3606.50,3622.10,3582.60,3611.20,3589.00,3589.65,3602.11,4592.25,3457.00,1004626.0,3.618777e+09,75981.0,2025,3,10,0,1
2025-03-07,3600.00,3625.00,3574.40,3601.60,3602.00,3611.20,3605.34,4592.25,3457.00,2051315.0,7.395690e+09,131372.0,2025,3,7,4,1
2025-03-06,3557.00,3609.45,3536.10,3547.05,3592.10,3601.60,3571.61,4592.25,3457.00,2786513.0,9.952339e+09,201910.0,2025,3,6,3,0
2025-03-05,3520.85,3600.35,3520.85,3532.05,3557.00,3547.05,3561.68,4592.25,3457.00,2501894.0,8.910937e+09,145336.0,2025,3,5,2,0
2025-03-04,3474.00,3551.00,3464.30,3493.05,3533.00,3532.05,3518.16,4592.25,3457.00,2797737.0,9.842880e+09,157084.0,2025,3,4,1,0
2025-03-03,3485.00,3523.25,3476.15,3483.25,3506.00,3493.05,3497.97,4592.25,3457.00,4990439.0,1.745640e+10,248034.0,2025,3,3,0,3
2025-02-28,3584.95,3600.00,3457.00,3612.55,3478.00,3483.25,3491.80,4592.25,3457.00,7085018.0,2.473946e+10,340110.0,2025,2,28,4,2
2025-02-27,3611.70,3638.00,3600.70,3629.55,3608.05,3612.55,3613.50,4592.25,3591.50,3823856.0,1.381750e+10,212465.0,2025,2,27,3,3
2025-02-25,3625.00,3658.00,3621.25,3675.60,3627.00,3629.55,3638.67,4592.25,3591.50,4101954.0,1.492565e+10,198489.0,2025,2,25,1,3
2025-02-24,3743.15,3763.20,3670.00,3786.00,3671.00,3675.60,3701.20,4592.25,3591.50,2508516.0,9.284524e+09,172279.0,2025,2,24,0,0
2025-02-21,3776.10,3817.00,3775.00,3779.40,3789.90,3786.00,3792.04,4592.25,3591.50,1833931.0,6.954339e+09,125392.0,2025,2,21,4,1
2025-02-20,3761.50,3788.00,3751.30,3784.10,3788.00,3779.40,3772.99,4592.25,3591.50,2888572.0,1.089856e+10,184053.0,2025,2,20,3,0
2025-02-19,3872.20,3874.95,3768.15,3873.20,3785.00,3784.10,3796.48,4592.25,3591.50,4366672.0,1.657800e+10,229923.0,2025,2,19,2,3
2025-02-18,3898.40,3924.40,3864.50,3904.50,3873.00,3873.20,3891.66,4592.25,3591.50,2149879.0,8.366597e+09,135773.0,2025,2,18,1,0
2025-02-17,3856.50,3934.00,3856.20,3934.85,3908.00,3904.50,3911.78,4592.25,3591.50,1799806.0,7.040440e+09,168626.0,2025,2,17,0,1
2025-02-14,3925.00,3948.00,3900.00,3910.15,3928.00,3934.85,3921.57,4592.25,3591.50,1681975.0,6.595987e+09,163805.0,2025,2,14,4,1
2025-02-13,3968.00,3984.45,3902.25,3950.15,3920.00,3910.15,3930.80,4592.25,3591.50,2277310.0,8.951640e+09,163030.0,2025,2,13,3,0
2025-02-12,3971.10,4021.75,3940.15,3963.55,3956.25,3950.15,3978.32,4592.25,3591.50,1678002.0,6.675629e+09,128576.0,2025,2,12,2,1
2025-02-11,4018.40,4040.00,3955.00,4036.95,3967.00,3963.55,3989.58,4592.25,3591.50,1810908.0,7.224758e+09,121478.0,2025,2,11,1,1
2025-02-10,4040.00,4052.00,4014.35,4029.40,4034.00,4036.95,4035.26,4592.25,3591.50,1339511.0,5.405279e+09,133697.0,2025,2,10,0,1
2025-02-07,4090.00,4090.00,4008.00,4082.75,4032.00,4029.40,4033.06,4592.25,3591.50,1548940.0,6.246965e+09,177110.0,2025,2,7,4,1
2025-02-06,4105.40,4139.50,4051.55,4091.10,4087.00,4082.75,4080.65,4592.25,3591.50,2284536.0,9.322390e+09,183903.0,2025,2,6,3,0
2025-02-05,4150.00,4150.00,4076.00,4107.05,4086.00,4091.10,4096.29,4592.25,3591.50,1693912.0,6.938753e+09,130235.0,2025,2,5,2,1
2025-02-04,4083.70,4118.85,4066.05,4068.65,4105.15,4107.05,4098.00,4592.25,3591.50,2547132.0,1.043814e+10,141942.0,2025,2,4,1,0
2025-02-03,4030.90,4077.00,3998.70,4073.15,4064.00,4068.65,4045.97,4592.25,3591.50,1265713.0,5.121041e+09,155134.0,2025,2,3,0,1
2025-02-01,4113.00,4135.90,4056.00,4112.40,4073.00,4073.15,4082.48,4592.25,3591.50,437172.0,1.784747e+09,49186.0,2025,2,1,5,1
2025-01-31,4110.00,4128.45,4085.25,4100.05,4114.15,4112.40,4106.05,4592.25,3591.50,1492943.0,6.130104e+09,121858.0,2025,1,31,4,1
2025-01-30,4099.90,4129.90,4058.50,4099.80,4100.00,4100.05,4098.87,4592.25,3591.50,1531251.0,6.276405e+09,97767.0,2025,1,30,3,1
2025-01-29,4054.00,4107.85,4054.00,4040.30,4105.00,4099.80,4091.12,4592.25,3591.50,1217089.0,4.979254e+09,108284.0,2025,1,29,2,1
2025-01-28,4070.80,4102.00,4028.30,4065.15,4040.00,4040.30,4057.30,4592.25,3591.50,2468272.0,1.001451e+10,150121.0,2025,1,28,1,0
2025-01-27,4102.00,4156.35,4041.05,4152.35,4067.00,4065.15,4088.62,4592.25,3591.50,1551782.0,6.344644e+09,143859.0,2025,1,27,0,1
2025-01-24,4104.00,4178.00,4104.00,4145.45,4153.10,4152.35,4155.62,4592.25,3591.50,1910099.0,7.937641e+09,99760.0,2025,1,24,4,0
2025-01-23,4168.00,4191.35,4140.05,4156.60,4148.00,4145.45,4161.12,4592.25,3591.50,1822998.0,7.585718e+09,139860.0,2025,1,23,3,1
2025-01-22,4050.00,4163.15,4044.20,4035.85,4152.00,4156.60,4132.48,4592.25,3591.50,2409223.0,9.956065e+09,153702.0,2025,1,22,2,0
2025-01-21,4095.30,4111.00,4030.00,4077.80,4038.00,4035.85,4065.27,4592.25,3591.50,1971591.0,8.015045e+09,148666.0,2025,1,21,1,0
2025-01-20,4145.80,4145.80,4068.10,4124.30,4080.00,4077.80,4085.51,4592.25,3591.50,1287799.0,5.261320e+09,148489.0,2025,1,20,0,1
2025-01-17,4159.90,4160.60,4100.05,4206.30,4130.00,4124.30,4132.60,4592.25,3591.50,1761466.0,7.279436e+09,157671.0,2025,1,17,4,1
2025-01-16,4260.00,4294.00,4191.85,4249.60,4215.00,4206.30,4212.91,4592.25,3591.50,2637705.0,1.111242e+10,176306.0,2025,1,16,3,0
2025-01-15,4218.00,4256.45,4207.45,4233.05,4255.40,4249.60,4229.68,4592.25,3591.50,1653474.0,6.993667e+09,130857.0,2025,1,15,2,1
2025-01-14,4302.00,4313.90,4219.05,4291.10,4241.15,4233.05,4252.06,4592.25,3591.50,3441709.0,1.463437e+10,180842.0,2025,1,14,1,3
2025-01-13,4245.00,4322.95,4227.40,4265.65,4299.00,4291.10,4294.04,4592.25,3591.50,4003771.0,1.719235e+10,270932.0,2025,1,13,0,3
2025-01-10,4200.00,4297.00,4170.00,4038.85,4265.00,4265.65,4240.63,4592.25,3591.50,7894300.0,3.347681e+10,436975.0,2025,1,10,4,2
2025-01-09,4101.00,4137.75,4025.30,4108.40,4044.00,4038.85,4073.67,4592.25,3591.50,2392472.0,9.746149e+09,183446.0,2025,1,9,3,0
2025-01-08,4034.90,4126.00,4017.75,4028.30,4095.05,4108.40,4056.18,4592.25,3591.50,2181277.0,8.847652e+09,180073.0,2025,1,8,2,0
2025-01-07,4114.95,4140.35,4011.55,4095.00,4031.00,4028.30,4045.86,4592.25,3591.50,2669054.0,1.079863e+10,177825.0,2025,1,7,1,0
2025-01-06,4105.50,4149.65,4066.40,4099.90,4090.00,4095.00,4107.14,4592.25,3591.50,2085593.0,8.565823e+09,158660.0,2025,1,6,0,0
2025-01-03,4179.95,4179.95,4092.30,4175.75,4097.00,4099.90,4114.17,4592.25,3591.50,1791953.0,7.372404e+09,125354.0,2025,1,3,4,1
2025-01-02,4120.00,4183.00,4096.95,4112.45,4166.00,4175.75,4159.77,4592.25,3591.50,1720835.0,7.158274e+09,124549.0,2025,1,2,3,1
2025-01-01,4094.40,4134.00,4085.45,4094.80,4112.00,4112.45,4112.75,4592.25,3591.50,763161.0,3.138692e+09,99498.0,2025,1,1,2,1
2024-12-31,4135.00,4139.95,4032.05,4158.80,4106.00,4094.80,4079.71,4592.25,3591.50,1555429.0,6.345700e+09,162877.0,2024,12,31,1,1
2024-12-30,4151.00,4199.30,4112.00,4164.85,4150.00,4158.80,4152.08,4592.25,3591.50,1527169.0,6.340929e+09,116250.0,2024,12,30,0,1
2024-12-27,4163.00,4180.95,4147.25,4169.10,4157.10,4164.85,4163.19,4592.25,3591.50,858100.0,3.572437e+09,88194.0,2024,12,27,4,1
2024-12-26,4179.50,4199.95,4143.15,4179.50,4170.00,4169.10,4163.43,4592.25,3591.50,1208464.0,5.031353e+09,106756.0,2024,12,26,3,1